*{
    font-family: "Trebuchet MS";
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-image: url("./foto's/achtergrondCv.png");
    color: white;

    .witRuimte{
        height: 10vh;
    }

    .BlokSoortRechts{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 25vh;
        margin-bottom: 40px;
        margin-top: 40px;

        .rechtsBox {
            width: 40%;
            text-align: center;
            align-content: center;
            align-items: center;
            background-color: #00487C;
            border-radius: 30px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;

            p {
                width: 60%;
                margin-left: 20%;
                margin-right: 10%;
            }
        }

        p{
            width: 60%;
            text-align: center;
            align-content: center;
        }
    }

    .BlokSoortLinks{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 25vh;
        margin-bottom: 40px;
        margin-top: 40px;

        .linksBox{
            background-color: #00487C;
            width: 40%;
            border-radius: 30px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            text-align: center;
            align-content: center;

            p {
                width: 60%;
                margin-left: 20%;
                margin-right: 10%;
            }
        }

        p{
            width: 60%;
            text-align: center;
            align-content: center;
        }
    }

    .DivProcentBalk{
        border-radius: 30px;
        background-color: #04a8e3;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        height: 20%;
        align-items: center;
        align-content: center;
        text-align: center;


        .tienProcent{
            text-align: center;
            border-radius: 30px;
            background-color: #00487C;
            height: 100%;
            width: 10%;
            align-content: center;
        }

        .ZeventigProcent{
            text-align: center;
            border-radius: 30px;
            background-color: #00487C;
            height: 100%;
            width: 70%;
            align-content: center;
        }

        .TachtigProcent{
            text-align: center;
            border-radius: 30px;
            background-color: #00487C;
            height: 100%;
            width: 80%;
            align-content: center;
        }

        .negentigProcent{
            text-align: center;
            border-radius: 30px;
            background-color: #00487C;
            height: 100%;
            width: 90%;
            align-content: center;
        }
    }

    .DivScheiding{
        width: 60%;
        align-content: center;
        text-align: center;
    }

    .FotosTitle{
        background-color: #04a8e3;
        border-radius: 30px;
        width: 50%;
        margin-top: 5vh;
        margin-left: 25%;
        margin-right: 25%;
        align-content: center;

        h2{
            text-align: center;
            font-size: 50px;
            margin: 20px;
        }
    }

    .fotos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 10%;

        .fotoBox img{
            width: 80%;
            height: auto;
            object-fit: cover;
            border: 5px solid #00487C;
            border-radius: 30px;
        }

        .fotoBox:hover{
            transform: scale(110%);
            transition: transform 1s ease-in-out, border 1s ease-in-out;
            .txtFoto{
                opacity: 1;
                visibility: visible;
            }

            .txtFotoKwaakvos{
                opacity: 1;
                visibility: visible;
            }

            img{
                opacity: 0.8;
                transition: opacity 1s ease-in-out;
            }
        }

        .txtFoto{
            text-align: center;
            visibility: collapse;
            position: absolute;
            top: 0;
            left: 0;
            width: 304px;
            height: 304px;
            margin: 5px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;

            .naamPlaatsDiploma {
                font-size: 50px;
                font-weight: bold;
            }

            .kleineTextOnderFotoDiploma {
                font-size: 40px;
                font-style: italic;
                font-weight: lighter;
            }

            .naamPlaatsWerk {
                font-size: 30px;
                font-weight: bold;
            }

            .kleineTextOnderFotoWerk {
                font-size: 20px;
                font-style: italic;
                font-weight: lighter;
            }

        }

        .txtFotoKwaakvos{
            text-align: center;
            visibility: collapse;
            position: absolute;
            top: 0;
            left: 0;
            width: 304px;
            height: 267px;
            margin: 5px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;

            .naamPlaatsWerk {
                font-size: 30px;
                font-weight: bold;
            }

            .kleineTextOnderFotoWerk {
                font-size: 20px;
                font-style: italic;
                font-weight: lighter;
            }
        }

    }

}

.Intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;


    .introImg {
        max-width: 50%;
        margin: 20px;

        img {
            width: 100%;
            max-width: 315px;
            height: auto;
            border-radius: 20px;
            transition: 1s;
        }

        img:hover {
            box-shadow: 10px 20px 30px rgba(0, 0, 0, 1);
            transform: translateY(-8px);
            transition: box-shadow 1s ease, transform 1s ease;
        }


        img:active {
            box-shadow: none;
        }
    }

    .introTxt {
        max-width: 50%;
        background-color: #04a8e3;
        border-radius: 30px;
        margin: 5%;

        .naam {
            margin: 30px;
            font-size: 50px;
        }

        .beschrijvingmij {
            font-size: 30px;
            margin: 30px;
        }
    }
}

.coderingKennis{

    .cSharpAndcss{
        text-align: center;
        border-radius: 30px;
        width: 70%;
        background-color: #00487C;
        height: 100%;
        align-content: center;
    }

    .html{
        text-align: center;
        border-radius: 30px;
        width: 90%;
        background-color: #00487C;
        height: 100%;
        align-content: center;
    }
}

.behaaldeDiplomas{
    border: 10px dashed #00487C;

}

.Werkgeschiedenis{
    border: 10px dashed #00487C;
}

footer{
    background-color: #00487C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    margin-top: 10vh;

    a{
        background-color: #04a8e3;
        border-radius: 30px;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    a:hover{
        background-color: #3EEAFF;
    }
}



