*{
    font-family: "Trebuchet MS";
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #3EEAFF;
    color: white;
}

.mijarticle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;


    .mijdiv1 {
        max-width: 50%;
        margin: 20px;

        img {
            width: 100%;
            max-width: 315px;
            height: auto;
            border-radius: 20px;
            transition: 1s;
        }

        img:hover {
            box-shadow: 10px 20px 30px rgba(0, 0, 0, 1);
            transform: translateY(-8px);
            transition: box-shadow 1s ease, transform 1s ease;
        }


        img:active {
            box-shadow: none;
        }
    }

    .mijdiv2 {
        max-width: 50%;
        background-color: #00487C;
        margin-right: 50px;
        border-radius: 30px;
        margin: 5%;

        .naam {
            margin: 30px;
            font-size: 50px;
        }

        .beschrijvingmij {
            font-size: 30px;
            margin: 30px;
        }
    }
}

.coderingKennis{

    .DivProcentBalk{
        border-radius: 30px;
        background-color: #04a8e3;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        height: 20%;
    }

    .DivScheiding{
        width: 60%;
        background-color: #3EEAFF;
        align-content: center;
        text-align: center;
    }

    .cSharpAndcss{
        text-align: center;
        border-radius: 30px;
        width: 70%;
        background-color: #00487C;
        height: 100%;
        align-content: center;
    }

    .html{
        text-align: center;
        border-radius: 30px;
        width: 90%;
        background-color: #00487C;
        height: 100%;
        align-content: center;
    }


    .coderingKennisBlokSoort1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 25vh;
        margin-bottom: 40px;
        margin-top: 40px;

        .rechtsBox {
            width: 40%;
            text-align: center;
            align-content: center;
            align-items: center;
            background-color: #00487C;
            border-radius: 30px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;

            p {
                width: 60%;
                margin-left: 20%;
                margin-right: 10%;
            }
        }

        p{
            width: 60%;
            text-align: center;
            align-content: center;
        }
    }

    .coderingKennisBlokSoort2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 25vh;
        margin-bottom: 40px;
        margin-top: 40px;

        .linksBox{
            background-color: #00487C;
            width: 40%;
            border-radius: 30px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            text-align: center;
            align-content: center;

            p {
                width: 60%;
                margin-left: 20%;
                margin-right: 10%;
            }
        }

        p{
            width: 60%;
            text-align: center;
            align-content: center;
        }
    }
}
